{% extends 'base.html.twig' %}

{% block bootstrap_example %}{% endblock %}
{% block body %}
    {% for trip in trips %}
        <h3>Total price: {{ trip.price }}</h3>
        <ul>
            {% for route in trip.routes %}
                <li>From: {{ route.origin.name }} -> to: {{ route.destination.name }}; Price: {{ route.price }}; Departure at: {{ route.departureDay|date('d.m.Y') }}; Flight saved at {{ route.savedAt|date('d.m.Y') }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="py-5 text-center">По вашему запросу ничего не найдено.</div>
    {% endfor %}
    <a href="{{ path('index') }}" class="btn btn-primary">Назад</a>
{% endblock %}